
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    background-color: rgb(74,245,150);
    height: 25%;
    font-size: 75px;
    margin: 70px auto;
    padding: 0;
}

footer{
    font-size: 30px;
    margin-top: 100px;
}

.start-flex-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-game-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: peachpuff;
    height:30vh;
    width: 60vh;
    text-align: center;
    margin-top: -500px;
}

.get-started-button {
    margin-top: 40px;
    font-size: 25px;
}
.stats-div  {
    float: left;
    font-size:30px;
    margin-left: 25px;
    padding: 10px;
}

.ctrl-div{
    float: right;
    font-size:30px;
    margin-right: 25px;
    padding: 10px;
}

#ctrl-header {
   text-align: right;
   margin-right: 10px;
}
#stat-header{
    margin-left: 10px;
}
.stat-ctrl-bckgrnd{ 
    background-color: rgba(255,218,185,0.4);
    margin: 8px;
    padding: 10px;
    width: 225px;
}
.main-page{
    visibility: hidden;
}

.main-div{
    margin-top: -1400px;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/park-background.webp);
    width: 90vh;
}