
header{
    background-color: rgb(74,245,150);
    height: 25%;
}

.start-flex-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-game-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: peachpuff;
    height:30%;
    width: 60%;
    text-align: center;
}

.get-started-button {
    margin-top: 40px;
    font-size: 25px;
}
.stats-div  {
    float: left;
}

.main-page{
    visibility: hidden;
}